In [2]:
# pip install pybaseball

In [1]:
from pybaseball import pitching_stats
from pybaseball import batting_stats
import pandas as pd

### Importing hitting statistics via pybaseball library

In [9]:
data_1b = batting_stats(1911,1917, qual=300)
data_2b = batting_stats(1918,1919, qual=200)
data_3b = batting_stats(1920, qual=300)
data_4b = batting_stats(1921,1930, qual=300)
data_5b = batting_stats(1931,1940, qual=300)
data_6b = batting_stats(1941,1950, qual=300)
data_7b = batting_stats(1951,1960, qual=300)
data_8b = batting_stats(1961,1970, qual=300)
data_9b = batting_stats(1971, qual=300)
data_10b = batting_stats(1972, qual=250)
data_11b = batting_stats(1973,1980, qual=300)
data_12b = batting_stats(1981, qual=200)
data_13b = batting_stats(1982,1990, qual=300)
data_14b = batting_stats(1991,1993, qual=300)
data_15b = batting_stats(1994,1995, qual=200)
data_16b = batting_stats(1996,2000, qual=300)
data_17b = batting_stats(2001,2010, qual=300)
data_18b = batting_stats(2011,2019, qual=300)
data_19b = batting_stats(2020, qual=80)
data_20b = batting_stats(2021,2025, qual=300)

In [16]:
import pandas as pd
dfb = pd.concat([data_1b, data_2b, data_3b, data_4b, data_5b, data_6b, data_7b, data_8b, data_9b, data_10b, data_11b, data_12b,
                data_13b, data_14b, data_15b, data_16b, data_17b, data_18b, data_19b, data_20b], ignore_index=True)

In [2]:
dfb.to_csv('/Users/ryan/Desktop/STAT5702GR/final_project/batting_stats.csv')

NameError: name 'dfb' is not defined

In [3]:
dfb.shape

NameError: name 'dfb' is not defined

In [2]:
dfb = pd.read_csv('/Users/ryan/Desktop/STAT5702GR/final_project/batting_stats.csv')

/var/folders/zl/m7fg_jqs4hgg12s5y0wr8yyc0000gn/T/ipykernel_44226/1279048683.py:1: DtypeWarning: Columns (61) have mixed types. Specify dtype option on import or set low_memory=False.
  dfb = pd.read_csv('/Users/ryan/Desktop/STAT5702GR/final_project/batting_stats.csv')

In [3]:
dfb.head()

,Unnamed: 0,IDfg,Season,Name,Team,Age,G,AB,PA,H,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR
0,0,1002378,1917,Ty Cobb,DET,30,152,588,669,225,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,11.5
1,1,1002378,1911,Ty Cobb,DET,24,146,591,654,248,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,11.0
2,2,1012309,1912,Tris Speaker,BOS,24,153,580,675,222,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,10.6
3,3,1006715,1914,Benny Kauff,IND,24,154,571,667,211,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,9.9
4,4,1002378,1915,Ty Cobb,DET,28,156,563,700,208,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,9.8

### Lahman Data

In [4]:
df_awards = pd.read_csv('/Users/ryan/Desktop/STAT5702GR/final_project/AwardsPlayers.csv')
df_people = pd.read_csv('/Users/ryan/Desktop/STAT5702GR/final_project/People.csv')
df_teams = pd.read_csv('/Users/ryan/Desktop/STAT5702GR/final_project/Teams.csv')

### Translation_Table

In [6]:
import warnings
warnings.filterwarnings("ignore", category=pd.errors.DtypeWarning)

In [7]:
from pathlib import Path

folder = Path("/Users/ryan/Desktop/STAT5702GR/final_project/ids")

# Get all CSV files
files = list(folder.glob("*.csv"))

# Read and concatenate
tr_table = pd.concat((pd.read_csv(f) for f in files), ignore_index=True)

print("Combined shape:", tr_table.shape)
tr_table.head()

Combined shape: (510391, 40)

,key_person,key_uuid,key_mlbam,key_retro,key_bbref,key_bbref_minors,key_fangraphs,key_npb,key_sr_nfl,key_sr_nba,...,pro_managed_first,pro_managed_last,mlb_managed_first,mlb_managed_last,col_managed_first,col_managed_last,pro_umpired_first,pro_umpired_last,mlb_umpired_first,mlb_umpired_last
0,80003c98,80003c98-3fe9-472c-8d38-4d63103b9ec6,NaN,NaN,NaN,shelto009---,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,800042d1,800042d1-8bf8-4309-abd7-b2e87231ec3d,NaN,NaN,NaN,pavlis000jac,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8000b024,8000b024-c085-4d27-8da1-8febbc6210bf,NaN,NaN,NaN,padill005jos,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8000b814,8000b814-5d4c-4e6d-a9f3-02a0fefeb99b,NaN,NaN,NaN,kim---000han,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8001148e,8001148e-185f-4647-a13b-1e7cca877432,NaN,NaN,NaN,crogha000eri,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Merging Data

Player ID translation file to merge the Lahman dataframes to the pybaseball dataframes

In [8]:
import pandas as pd

# -------------------------------------------------------------------
# 1. Join Lahman awards (df_awards) to Lahman people (df_people)
# -------------------------------------------------------------------

# Keep only needed columns from Lahman People
people_cols = ["playerID", "bbrefID", "nameFirst", "nameLast"]
people_subset = df_people[people_cols].copy()

# Merge awards with people on playerID
lahman_awards = df_awards.merge(
    people_subset,
    on="playerID",
    how="left",
    validate="m:1"   # many awards → one people record
)

# Optional: create full name (purely cosmetic)
lahman_awards["full_name"] = (
    lahman_awards["nameFirst"].fillna("") + " " +
    lahman_awards["nameLast"].fillna("")
).str.strip()


# -------------------------------------------------------------------
# 2. Use translation table (tr_table) to attach FanGraphs ID to Lahman
# -------------------------------------------------------------------

# Ensure IDs are strings
lahman_awards["bbrefID"]      = lahman_awards["bbrefID"].astype(str)
tr_table["key_bbref"]         = tr_table["key_bbref"].astype(str)
# tr_table["key_fangraphs"]     = tr_table["key_fangraphs"].astype(str)
# dfb["IDfg"]                   = dfb["IDfg"].astype(str)

# Deduplicate translation table on bbref key (safety measure)
tr_table_dedup = tr_table.drop_duplicates(subset=["key_bbref"]).copy()

# Attach FanGraphs ID to Lahman awards using bbrefID → key_bbref
lahman_awards_fg = lahman_awards.merge(
    tr_table_dedup[["key_bbref", "key_fangraphs"]],
    left_on="bbrefID",
    right_on="key_bbref",
    how="left",
    validate="m:1"
)


# -------------------------------------------------------------------
# 3. Merge Lahman(+awards) with FanGraphs batting data on BOTH:
#       key_fangraphs ↔ IDfg   (player)
#       yearID        ↔ Season (year)
# -------------------------------------------------------------------

# Standardize year types
lahman_awards_fg["yearID"] = lahman_awards_fg["yearID"].astype(int)
dfb["Season"] = dfb["Season"].astype(int)  # rename if needed

awards_batting = lahman_awards_fg.merge(
    dfb,
    left_on=["key_fangraphs", "yearID"],
    right_on=["IDfg", "Season"],
    how="left",
    validate="m:1"   # each award-year should match at most one batting row
)


# -------------------------------------------------------------------
# 4. (OPTIONAL) You may choose to limit the columns later.
#     The block below is left commented out so you can customize.
# -------------------------------------------------------------------


# Example: columns you *might* want to select later
cols_to_keep = [
    "playerID",
    "bbrefID",
    "full_name",
    "awardID",
    "yearID",
    "lgID",
    "key_fangraphs",   # FanGraphs ID
    "IDfg",
    "HR", "AVG", "RBI", "SO", "OBP", "SLG", "OPS", "wOBA", "wRC", "wRC+", "WAR", "Hard%", "OBP+", "SLG+", "ISO+", "BABIP+",
    "Hard%+", "EV", "LA", "Barrels", "Barrel%", "maxEV", "HardHit", "HardHit%", "Events", "G", "PA", "H"
    # FG ID in dfb (same as key_fangraphs)
    # Add any batting stat columns here, e.g.:
    # "WAR", "G", "PA", "HR"
]

# Only keep columns that actually exist
cols_to_keep = [c for c in cols_to_keep if c in awards_batting.columns]

awards_batting = awards_batting[cols_to_keep].copy()

awards_batting.head()


# If you skip filtering for now, awards_batting is your full merged dataset:
# print(awards_batting.head())

,playerID,bbrefID,full_name,awardID,yearID,lgID,key_fangraphs,IDfg,HR,AVG,...,LA,Barrels,Barrel%,maxEV,HardHit,HardHit%,Events,G,PA,H
0,aaronha01,aaronha01,Hank Aaron,Gold Glove,1958,NL,1000001.0,1000001.0,30.0,0.326,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,153.0,664.0,196.0
1,aaronha01,aaronha01,Hank Aaron,Gold Glove,1959,NL,1000001.0,1000001.0,39.0,0.355,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,154.0,693.0,223.0
2,aaronha01,aaronha01,Hank Aaron,Gold Glove,1960,NL,1000001.0,1000001.0,40.0,0.292,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,153.0,664.0,172.0
3,aaronha01,aaronha01,Hank Aaron,Lou Gehrig Memorial Award,1970,ML,1000001.0,1000001.0,38.0,0.298,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,150.0,598.0,154.0
4,aaronha01,aaronha01,Hank Aaron,Most Valuable Player,1957,NL,1000001.0,1000001.0,44.0,0.322,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,151.0,675.0,198.0
5,aaronha01,aaronha01,Hank Aaron,Player of the Week,1973,NL,1000001.0,1000001.0,40.0,0.301,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,120.0,465.0,118.0
6,aaronha01,aaronha01,Hank Aaron,Player of the Week,1973,NL,1000001.0,1000001.0,40.0,0.301,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,120.0,465.0,118.0
7,aaronha01,aaronha01,Hank Aaron,Player of the Week,1973,NL,1000001.0,1000001.0,40.0,0.301,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,120.0,465.0,118.0
8,aaronha01,aaronha01,Hank Aaron,Player of the Week,1974,NL,1000001.0,1000001.0,20.0,0.268,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,112.0,382.0,91.0
9,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1956,ML,1000001.0,1000001.0,26.0,0.328,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,153.0,660.0,200.0
10,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1958,ML,1000001.0,1000001.0,30.0,0.326,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,153.0,664.0,196.0
11,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1959,ML,1000001.0,1000001.0,39.0,0.355,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,154.0,693.0,223.0
12,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1963,NL,1000001.0,1000001.0,44.0,0.319,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,161.0,714.0,201.0
13,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1965,NL,1000001.0,1000001.0,32.0,0.318,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,150.0,639.0,181.0
14,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1967,NL,1000001.0,1000001.0,39.0,0.307,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,155.0,669.0,184.0
15,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1969,NL,1000001.0,1000001.0,44.0,0.300,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,147.0,639.0,164.0
16,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1970,NL,1000001.0,1000001.0,38.0,0.298,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,150.0,598.0,154.0
17,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1971,NL,1000001.0,1000001.0,47.0,0.327,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,139.0,573.0,162.0
18,aaronha01,aaronha01,Hank Aaron,TSN Player of the Year,1956,NL,1000001.0,1000001.0,26.0,0.328,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,153.0,660.0,200.0
19,aaronha01,aaronha01,Hank Aaron,TSN Player of the Year,1963,NL,1000001.0,1000001.0,44.0,0.319,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,161.0,714.0,201.0
20,aasedo01,aasedo01,Don Aase,Pitcher of the Month,1986,AL,1000003.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,aasedo01,aasedo01,Don Aase,Player of the Week,1977,AL,1000003.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,abbotji01,abbotji01,Jim Abbott,Hutch Award,1995,ML,1000012.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,abbotji01,abbotji01,Jim Abbott,Player of the Week,1993,AL,1000012.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,abbotji01,abbotji01,Jim Abbott,TSN All-Star,1991,AL,1000012.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,abernte02,abernte02,Ted Abernathy,TSN Fireman of the Year,1965,NL,1000020.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,abernte02,abernte02,Ted Abernathy,TSN Fireman of the Year,1967,NL,1000020.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,abramcj01,abramcj01,CJ Abrams,Player of the Week,2023,NL,25768.0,25768.0,18.0,0.245,...,13.5,31.0,0.069,112.5,162.0,0.359,451.0,151.0,614.0,138.0
28,abreubo01,abreubo01,Bobby Abreu,Gold Glove,2005,NL,945.0,945.0,24.0,0.286,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,162.0,719.0,168.0
29,abreubo01,abreubo01,Bobby Abreu,Player of the Month,2005,NL,945.0,945.0,24.0,0.286,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,162.0,719.0,168.0
30,abreubo01,abreubo01,Bobby Abreu,Player of the Month,2009,AL,945.0,945.0,15.0,0.293,...,NaN,0.0,NaN,NaN,0.0,NaN,0.0,152.0,667.0,165.0
31,abreubo01,abreubo01,Bobby Abreu,Player of the Week,2001,NL,945.0,945.0,31.0,0.289,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,162.0,704.0,170.0
32,abreubo01,abreubo01,Bobby Abreu,Player of the Week,2004,NL,945.0,945.0,30.0,0.301,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,159.0,713.0,173.0
33,abreubo01,abreubo01,Bobby Abreu,Player of the Week,2005,NL,945.0,945.0,24.0,0.286,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,162.0,719.0,168.0
34,abreubo01,abreubo01,Bobby Abreu,Player of the Week,2010,AL,945.0,945.0,20.0,0.255,...,NaN,0.0,NaN,NaN,0.0,NaN,0.0,154.0,667.0,146.0
35,abreubo01,abreubo01,Bobby Abreu,Silver Slugger,2004,NL,945.0,945.0,30.0,0.301,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,159.0,713.0,173.0
36,abreujo02,abreujo02,Jose Abreu,All-MLB Team - Second Team,2020,ML,15676.0,15676.0,19.0,0.317,...,10.9,26.0,0.143,114.0,97.0,0.533,182.0,60.0,262.0,76.0
37,abreujo02,abreujo02,Jose Abreu,Hank Aaron Award,2020,AL,15676.0,15676.0,19.0,0.317,...,10.9,26.0,0.143,114.0,97.0,0.533,182.0,60.0,262.0,76.0
38,abreujo02,abreujo02,Jose Abreu,MLB Players Choice Outstanding Player,2020,AL,15676.0,15676.0,19.0,0.317,...,10.9,26.0,0.143,114.0,97.0,0.533,182.0,60.0,262.0,76.0
39,abreujo02,abreujo02,Jose Abreu,MLB Players Choice Outstanding Rookie,2014,AL,15676.0,15676.0,36.0,0.317,...,NaN,0.0,NaN,NaN,0.0,NaN,0.0,145.0,622.0,176.0
40,abreujo02,abreujo02,Jose Abreu,Most Valuable Player,2020,AL,15676.0,15676.0,19.0,0.317,...,10.9,26.0,0.143,114.0,97.0,0.533,182.0,60.0,262.0,76.0
41,abreujo02,abreujo02,Jose Abreu,Player of the Month,2014,AL,15676.0,15676.0,36.0,0.317,...,NaN,0.0,NaN,NaN,0.0,NaN,0.0,145.0,622.0,176.0
42,abreujo02,abreujo02,Jose Abreu,Player of the Month,2014,AL,15676.0,15676.0,36.0,0.317,...,NaN,0.0,NaN,NaN,0.0,NaN,0.0,145.0,622.0,176.0
43,abreujo02,abreujo02,Jose Abreu,Player of the Month,2020,AL,15676.0,15676.0,19.0,0.317,...,10.9,26.0,0.143,114.0,97.0,0.533,182.0,60.0,262.0,76.0
44,abreujo02,abreujo02,Jose Abreu,Player of the Month,2021,AL,15676.0,15676.0,30.0,0.261,...,10.4,44.0,0.102,115.6,213.0,0.492,433.0,152.0,659.0,148.0
45,abreujo02,abreujo02,Jose Abreu,Player of the Week,2014,AL,15676.0,15676.0,36.0,0.317,...,NaN,0.0,NaN,NaN,0.0,NaN,0.0,145.0,622.0,176.0
46,abreujo02,abreujo02,Jose Abreu,Player of the Week,2015,AL,15676.0,15676.0,30.0,0.290,...,9.9,44.0,0.093,114.9,198.0,0.418,474.0,154.0,668.0,178.0
47,abreujo02,abreujo02,Jose Abreu,Player of the Week,2015,AL,15676.0,15676.0,30.0,0.290,...,9.9,44.0,0.093,114.9,198.0,0.418,474.0,154.0,668.0,178.0
48,abreujo02,abreujo02,Jose Abreu,Player of the Week,2017,AL,15676.0,15676.0,33.0,0.304,...,11.1,48.0,0.095,114.9,231.0,0.457,506.0,156.0,675.0,189.0
49,abreujo02,abreujo02,Jose Abreu,Player of the Week,2020,AL,15676.0,15676.0,19.0,0.317,...,10.9,26.0,0.143,114.0,97.0,0.533,182.0,60.0,262.0,76.0

In [9]:
import pandas as pd

# 1. Load your datasets
# Replace 'teams.csv' and 'batters.csv' with your actual file paths

# 2. Merge Batters with Teams to get the League ID
# We assume the batters dataset has a 'teamID' column to link with the teams dataset.

dfb['WAR'] = pd.to_numeric(dfb['WAR'], errors='coerce')

merged_df = pd.merge(
    dfb, 
    df_teams[['yearID', 'franchID', 'lgID']], 
    left_on=['Season', 'Team'],
    right_on=['yearID', 'franchID'],
    how='left'
)

# 3. Aggregate WAR by Player, Year, and League
# This step handles cases where a player played for multiple teams 
# within the same league in a single year (summing their WAR).
player_league_war = merged_df.groupby(['yearID', 'lgID', 'IDfg'], as_index=False)['WAR'].sum()

# 4. Calculate the Max WAR for each Year and League
# We transform the data to add a column with the max WAR for that group
player_league_war['max_WAR'] = player_league_war.groupby(['yearID', 'lgID'])['WAR'].transform('max')

# 5. Create the WAR Leader Flag
# Flag is True (or 1) if the player's WAR equals the max WAR for that league/year
player_league_war['WAR_leader_flag'] = (player_league_war['WAR'] == player_league_war['max_WAR']).astype(int)

# 6. Select and Rename Columns for Final Output
output_df = player_league_war[['IDfg', 'yearID', 'lgID', 'WAR_leader_flag']].copy()
output_df.columns = ['IDfg', 'year', 'league', 'WAR leader flag']

# Display the first few rows
print(output_df.head())

# Optional: Save to a new CSV
output_df.to_csv('war_leaders.csv', index=False)

      IDfg    year league  WAR leader flag
0  1000497  1911.0     AL                0
1  1000983  1911.0     AL                0
2  1001112  1911.0     AL                0
3  1001749  1911.0     AL                0
4  1001847  1911.0     AL                0

In [10]:
player_league_war['WAR'].dtype

dtype('float64')

In [12]:
merged_df.loc[merged_df['IDfg']==15640]

,Unnamed: 0,IDfg,Season,Name,Team,Age,G,AB,PA,H,...,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR,yearID,franchID,lgID
18932,18932,15640,2017,Aaron Judge,NYY,25,155,542,678,154,...,338,0.157,0.290,0.287,0.668,0.450,8.7,2017.0,NYY,AL
19112,19112,15640,2018,Aaron Judge,NYY,26,112,413,498,115,...,266,0.178,0.316,0.273,0.527,0.393,5.2,2018.0,NYY,AL
19259,19259,15640,2019,Aaron Judge,NYY,27,102,378,447,103,...,239,0.170,0.317,0.278,0.582,0.402,4.2,2019.0,NYY,AL
21482,21482,15640,2020,Aaron Judge,NYY,28,28,101,114,26,...,70,0.166,0.306,0.265,0.545,0.378,1.1,2020.0,NYY,AL
21719,21719,15640,2024,Aaron Judge,NYY,32,158,559,704,180,...,391,0.146,0.267,0.310,0.724,0.480,11.7,2024.0,NYY,AL
21720,21720,15640,2022,Aaron Judge,NYY,30,157,570,696,177,...,404,0.169,0.287,0.305,0.706,0.463,11.4,2022.0,NYY,AL
21722,21722,15640,2025,Aaron Judge,NYY,33,152,541,679,179,...,388,0.150,0.292,0.303,0.695,0.458,10.2,NaN,NaN,NaN
21784,21784,15640,2021,Aaron Judge,NYY,29,148,550,633,158,...,397,0.170,0.283,0.308,0.595,0.418,5.6,2021.0,NYY,AL
21824,21824,15640,2023,Aaron Judge,NYY,31,106,367,458,98,...,240,0.160,0.298,0.289,0.712,0.461,5.2,2023.0,NYY,AL

In [22]:
dfbj = merged_df.loc[merged_df['IDfg']==26289]
dfbj = dfbj[['Name', 'Season', 'WAR']]
dfbj

                   Name  Season  WAR
21728  Gunnar Henderson    2024  7.9
21829  Gunnar Henderson    2025  4.8
21837  Gunnar Henderson    2023  4.7

In [53]:
player_league_war.loc[player_league_war['IDfg'] == '15640']

       yearID lgID   IDfg   WAR  max_WAR  WAR_leader_flag
15801  2017.0   AL  15640   8.7      8.7                1
16052  2018.0   AL  15640   5.0     10.2                0
16289  2019.0   AL  15640   4.2      8.3                0
16523  2020.0   AL  15640   0.9      3.1                0
16797  2021.0   AL  15640   5.5      6.4                0
17006  2022.0   AL  15640  11.1     11.1                1
17218  2023.0   AL  15640   4.8      6.5                0
17452  2024.0   AL  15640  11.3     11.3                1

In [13]:
war_leaders = output_df.copy()

In [14]:
war_leaders

          IDfg    year league  WAR leader flag
0      1000497  1911.0     AL                0
1      1000983  1911.0     AL                0
2      1001112  1911.0     AL                0
3      1001749  1911.0     AL                0
4      1001847  1911.0     AL                0
...        ...     ...    ...              ...
17668    29490  2024.0     NL                0
17669    29518  2024.0     NL                0
17670    29622  2024.0     NL                0
17671    29931  2024.0     NL                0
17672    30116  2024.0     NL                0

[17673 rows x 4 columns]

In [15]:
war_leaders['year'] = war_leaders['year'].astype('int64')
awards_batting['yearID'] = awards_batting['yearID'].astype('int64')

In [16]:
import numpy as np
import pandas as pd

# clean the strings first
awards_batting['key_fangraphs'] = (
    awards_batting['key_fangraphs']
      .astype(str)
      .str.strip()
      .str.replace('.0', '', regex=False)
)

# turn impossible values into NaN, then use nullable Int64
awards_batting['key_fangraphs'] = pd.to_numeric(
    awards_batting['key_fangraphs'],
    errors='coerce'        # 'nan', '', junk -> NaN
).astype('Int64')          # pandas nullable integer dtype

In [17]:
awards_batting

,playerID,bbrefID,full_name,awardID,yearID,lgID,key_fangraphs,IDfg,HR,AVG,...,LA,Barrels,Barrel%,maxEV,HardHit,HardHit%,Events,G,PA,H
0,aaronha01,aaronha01,Hank Aaron,Gold Glove,1958,NL,1000001,1000001.0,30.0,0.326,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,153.0,664.0,196.0
1,aaronha01,aaronha01,Hank Aaron,Gold Glove,1959,NL,1000001,1000001.0,39.0,0.355,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,154.0,693.0,223.0
2,aaronha01,aaronha01,Hank Aaron,Gold Glove,1960,NL,1000001,1000001.0,40.0,0.292,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,153.0,664.0,172.0
3,aaronha01,aaronha01,Hank Aaron,Lou Gehrig Memorial Award,1970,ML,1000001,1000001.0,38.0,0.298,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,150.0,598.0,154.0
4,aaronha01,aaronha01,Hank Aaron,Most Valuable Player,1957,NL,1000001,1000001.0,44.0,0.322,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,151.0,675.0,198.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12457,zobribe01,zobribe01,Ben Zobrist,Player of the Week,2008,AL,7435,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12458,zobribe01,zobribe01,Ben Zobrist,Player of the Week,2011,AL,7435,7435.0,20.0,0.269,...,NaN,0.0,NaN,NaN,0.0,NaN,0.0,156.0,674.0,158.0
12459,zobribe01,zobribe01,Ben Zobrist,Player of the Week,2016,NL,7435,7435.0,18.0,0.272,...,9.5,20.0,0.045,110.4,160.0,0.356,449.0,147.0,631.0,142.0
12460,zobribe01,zobribe01,Ben Zobrist,World Series MVP,2016,ML,7435,7435.0,18.0,0.272,...,9.5,20.0,0.045,110.4,160.0,0.356,449.0,147.0,631.0,142.0
12461,zumayjo01,zumayjo01,Joel Zumaya,This Year in Baseball Setup Man of the Year,2006,ML,4699,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
batting_final = pd.merge(
    awards_batting,
    war_leaders,
    left_on=['key_fangraphs', 'yearID'],
    right_on=['IDfg', 'year'],
    how='left'
)

In [23]:
batting_final.loc[batting_final['key_fangraphs']== 1000001]

,playerID,bbrefID,full_name,awardID,yearID,lgID,key_fangraphs,IDfg_x,HR,AVG,...,HardHit,HardHit%,Events,G,PA,H,IDfg_y,year,league,WAR leader flag
0,aaronha01,aaronha01,Hank Aaron,Gold Glove,1958,NL,1000001,1000001.0,30.0,0.326,...,NaN,NaN,0.0,153.0,664.0,196.0,NaN,NaN,NaN,NaN
1,aaronha01,aaronha01,Hank Aaron,Gold Glove,1959,NL,1000001,1000001.0,39.0,0.355,...,NaN,NaN,0.0,154.0,693.0,223.0,NaN,NaN,NaN,NaN
2,aaronha01,aaronha01,Hank Aaron,Gold Glove,1960,NL,1000001,1000001.0,40.0,0.292,...,NaN,NaN,0.0,153.0,664.0,172.0,NaN,NaN,NaN,NaN
3,aaronha01,aaronha01,Hank Aaron,Lou Gehrig Memorial Award,1970,ML,1000001,1000001.0,38.0,0.298,...,NaN,NaN,0.0,150.0,598.0,154.0,1000001.0,1970.0,NL,0.0
4,aaronha01,aaronha01,Hank Aaron,Most Valuable Player,1957,NL,1000001,1000001.0,44.0,0.322,...,NaN,NaN,0.0,151.0,675.0,198.0,NaN,NaN,NaN,NaN
5,aaronha01,aaronha01,Hank Aaron,Player of the Week,1973,NL,1000001,1000001.0,40.0,0.301,...,NaN,NaN,0.0,120.0,465.0,118.0,1000001.0,1973.0,NL,0.0
6,aaronha01,aaronha01,Hank Aaron,Player of the Week,1973,NL,1000001,1000001.0,40.0,0.301,...,NaN,NaN,0.0,120.0,465.0,118.0,1000001.0,1973.0,NL,0.0
7,aaronha01,aaronha01,Hank Aaron,Player of the Week,1973,NL,1000001,1000001.0,40.0,0.301,...,NaN,NaN,0.0,120.0,465.0,118.0,1000001.0,1973.0,NL,0.0
8,aaronha01,aaronha01,Hank Aaron,Player of the Week,1974,NL,1000001,1000001.0,20.0,0.268,...,NaN,NaN,0.0,112.0,382.0,91.0,1000001.0,1974.0,NL,0.0
9,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1956,ML,1000001,1000001.0,26.0,0.328,...,NaN,NaN,0.0,153.0,660.0,200.0,NaN,NaN,NaN,NaN
10,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1958,ML,1000001,1000001.0,30.0,0.326,...,NaN,NaN,0.0,153.0,664.0,196.0,NaN,NaN,NaN,NaN
11,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1959,ML,1000001,1000001.0,39.0,0.355,...,NaN,NaN,0.0,154.0,693.0,223.0,NaN,NaN,NaN,NaN
12,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1963,NL,1000001,1000001.0,44.0,0.319,...,NaN,NaN,0.0,161.0,714.0,201.0,NaN,NaN,NaN,NaN
13,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1965,NL,1000001,1000001.0,32.0,0.318,...,NaN,NaN,0.0,150.0,639.0,181.0,NaN,NaN,NaN,NaN
14,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1967,NL,1000001,1000001.0,39.0,0.307,...,NaN,NaN,0.0,155.0,669.0,184.0,1000001.0,1967.0,NL,0.0
15,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1969,NL,1000001,1000001.0,44.0,0.300,...,NaN,NaN,0.0,147.0,639.0,164.0,1000001.0,1969.0,NL,0.0
16,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1970,NL,1000001,1000001.0,38.0,0.298,...,NaN,NaN,0.0,150.0,598.0,154.0,1000001.0,1970.0,NL,0.0
17,aaronha01,aaronha01,Hank Aaron,TSN All-Star,1971,NL,1000001,1000001.0,47.0,0.327,...,NaN,NaN,0.0,139.0,573.0,162.0,1000001.0,1971.0,NL,0.0
18,aaronha01,aaronha01,Hank Aaron,TSN Player of the Year,1956,NL,1000001,1000001.0,26.0,0.328,...,NaN,NaN,0.0,153.0,660.0,200.0,NaN,NaN,NaN,NaN
19,aaronha01,aaronha01,Hank Aaron,TSN Player of the Year,1963,NL,1000001,1000001.0,44.0,0.319,...,NaN,NaN,0.0,161.0,714.0,201.0,NaN,NaN,NaN,NaN

In [42]:
awards_batting

,playerID,bbrefID,full_name,awardID,yearID,lgID,key_fangraphs,IDfg,HR,AVG,...,LA,Barrels,Barrel%,maxEV,HardHit,HardHit%,Events,G,PA,H
0,aaronha01,aaronha01,Hank Aaron,Gold Glove,1958,NL,1000001,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aaronha01,aaronha01,Hank Aaron,Gold Glove,1959,NL,1000001,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,aaronha01,aaronha01,Hank Aaron,Gold Glove,1960,NL,1000001,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aaronha01,aaronha01,Hank Aaron,Lou Gehrig Memorial Award,1970,ML,1000001,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,aaronha01,aaronha01,Hank Aaron,Most Valuable Player,1957,NL,1000001,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12457,zobribe01,zobribe01,Ben Zobrist,Player of the Week,2008,AL,7435,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12458,zobribe01,zobribe01,Ben Zobrist,Player of the Week,2011,AL,7435,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12459,zobribe01,zobribe01,Ben Zobrist,Player of the Week,2016,NL,7435,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12460,zobribe01,zobribe01,Ben Zobrist,World Series MVP,2016,ML,7435,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12461,zumayjo01,zumayjo01,Joel Zumaya,This Year in Baseball Setup Man of the Year,2006,ML,4699,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
mvp = batting_final.loc[batting_final['awardID'] == 'Most Valuable Player']

In [21]:
mvp

,playerID,bbrefID,full_name,awardID,yearID,lgID,key_fangraphs,IDfg_x,HR,AVG,...,HardHit,HardHit%,Events,G,PA,H,IDfg_y,year,league,WAR leader flag
4,aaronha01,aaronha01,Hank Aaron,Most Valuable Player,1957,NL,1000001,1000001.0,44.0,0.322,...,NaN,NaN,0.0,151.0,675.0,198.0,NaN,NaN,NaN,NaN
40,abreujo02,abreujo02,Jose Abreu,Most Valuable Player,2020,AL,15676,15676.0,19.0,0.317,...,97.0,0.533,182.0,60.0,262.0,76.0,15676.0,2020.0,AL,0.0
72,acunaro01,acunaro01,Ronald Acuña,Most Valuable Player,2023,NL,18401,18401.0,41.0,0.337,...,310.0,0.552,562.0,159.0,735.0,217.0,18401.0,2023.0,NL,1.0
152,allendi01,allendi01,Dick Allen,Most Valuable Player,1972,AL,1000137,1000137.0,37.0,0.308,...,NaN,NaN,0.0,148.0,609.0,156.0,1000137.0,1972.0,AL,1.0
239,altuvjo01,altuvjo01,Jose Altuve,Most Valuable Player,2017,AL,5417,5417.0,24.0,0.346,...,145.0,0.284,511.0,153.0,662.0,204.0,5417.0,2017.0,AL,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12147,willsma01,willsma01,Maury Wills,Most Valuable Player,1962,NL,1014053,1014053.0,6.0,0.299,...,NaN,NaN,0.0,165.0,759.0,208.0,1014053.0,1962.0,NL,0.0
12305,yastrca01,yastrca01,Carl Yastrzemski,Most Valuable Player,1967,AL,1014326,1014326.0,44.0,0.326,...,NaN,NaN,0.0,161.0,680.0,189.0,1014326.0,1967.0,AL,1.0
12327,yelicch01,yelicch01,Christian Yelich,Most Valuable Player,2018,NL,11477,11477.0,36.0,0.326,...,224.0,0.508,441.0,147.0,651.0,187.0,11477.0,2018.0,NL,1.0
12385,yountro01,yountro01,Robin Yount,Most Valuable Player,1982,AL,1014396,1014396.0,29.0,0.331,...,NaN,NaN,0.0,156.0,704.0,210.0,1014396.0,1982.0,AL,1.0
12386,yountro01,yountro01,Robin Yount,Most Valuable Player,1989,AL,1014396,1014396.0,21.0,0.318,...,NaN,NaN,0.0,160.0,690.0,195.0,1014396.0,1989.0,AL,0.0

In [22]:
mvp.to_csv('/Users/ryan/Desktop/STAT5702GR/final_project/mvp_hitting_dataset.csv')

In [24]:
batting_final.to_csv('/Users/ryan/Desktop/STAT5702GR/final_project/hitting_dataset_all.csv')